.card {
  background-color: #BECCF0;
  border: 1px solid #ddd;
  border-radius: 13px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  color: #111a48;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.indent-items table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 1em;
}

.indent-items th {
  background-color: #111a48;
  color: #ffffff;
  padding: 8px;
}

.indent-items td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.indent-description p,
.indent-police-station p {
  margin: 8px 0;
}

.indent-status {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.indent-status button {
  color: #fff;
  background-color: #E52F2F;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.indent-status button:hover {
  background-color: rgba(241, 125, 125, 0.527);
  transform: scale(1.05);
}

.scrollbar {
  overflow-y: auto;
  padding-right: 8px;
  flex: 1;

}


.container {
  display: flex;
  padding: 20px;
  /* background: #E3E4F0; */
  margin: auto;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
  background: #FFFFFF;
}

.header-title {
  background-color: #E52F2F;
  color: white;
  padding: 10px 10px 0 10px;
  border: none;
  border-radius: 10px 10px 0 0;
}

.side-card {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  padding: 20px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.side-card table {
  margin: 0 auto;
  width: 95%;
  text-align: left;
  font-size: 1em;
  border-collapse: collapse;
}

.side-card th {
  color: #333333;
  padding: 10px;
  border-bottom: 2px solid #e0e0e0;
}

.side-card td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.side-card .item-name,
.side-card .item-quantity {
  background-color: #f9f9f9;
  color: #333333;
}

.side-card h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333333;
}

.side-card p {
  font-size: 1em;
  color: #666666;
  margin-bottom: 20px;
}

.side-card .btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.side-card .btn:hover {
  background-color: #0056b3;
}

body {
  background-color: #e3e4f0;
}

.indent-dates p {
  font-size: 14px;
}