.popup {
    width: 400px;
    /* Adjust the width as needed */
    background: white;
    /* border-radius: 8px; */
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Position relative for child absolute positioning */
}

.modal-body {
    margin-top: 20px;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    /* Space between input fields */
}

label {
    margin-bottom: 5px;
    /* Space between label and input */
    font-weight: bold;
    /* Make label text bold */
}

.form-input {
    /* padding: 10px; */
    border: 1px solid #ddd;
    /* border-radius: 1px; */
    width: 100%;
    /* Full width */
    box-sizing: border-box;
    /* Include padding in width */
}

.button-group {
    display: flex;
    justify-content: space-between;
    /* Space between buttons */
    margin-top: 20px;
    /* Space above button group */
}

.subheader-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subheader-button.cancel {
    background: #f44336;
    /* Red for cancel button */
    color: white;
}