.container-store {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 97%;
  }
  
  .header-title h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
  }
  
  .items-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .items-table th, .items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .items-table th {
    background-color: #596DD9;
    color: white;
  }
  
  .items-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .items-table td button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .items-table td button:hover {
    transform: scale(1.05);
  }
  
  .items-table td button:active {
    transform: scale(0.95);
  }
  
  .items-table td button {
    background-color: #E52F2F; /* Remove button color */
    color: white;
  }
  
  .add-item-form {
    margin-top: 20px;
  }
  
  .add-item-form input {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .add-item-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #596DD9;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  .add-item-form button:hover {
    background-color: #4758a9;
  }
  